<table>
  <tr>
    <th>Воликов Георгий Викторович</th>
    <th></th>
  </tr>
  <tr>
    <td rowspan='100', class='center'><%= image_tag('avatar.png') %></td>
    <td><%= link_to 'Обо мне','#' %></td>
  </tr>
  <tr>
    <td><%= link_to 'Мои работы','#' %></td>
  </tr>
  <tr>
    <td><%= link_to 'Сделать заказ','#' %></td>
  </tr>
  <tr>
    <td><%= link_to 'Контакты','#' %></td>
  </tr>
</table>
